extends layout

block content
    .container
        .row
            //CONTENT
            #id_content.text-center
                .p(style='font-size: 50px') Menu kalibracji

        .row
            .col-lg-6
                #adv_calib_settings.text-left
                    h1.h1marg(style='font-size: 40px') Kalibracja czujnika siły:
                        p
                        button.btn.btn-lg.btn-primary.btn-block#adv_calib(type='button', data-toggle='modal', data-target="#adv_calib_mod1") Kalibruj

    include settings/settings_modals.jade

block scripts bottom
    include ./settings/settings_scripts