extends layout

block content
    .container
        .row
            //CONTENT
            #id_content.text-center
                .p(style='font-size: 50px') Menu kalibracji

        .row
            .col-lg-6
                #adv_calib_settings.text-left
                    h1.h1marg(style='font-size: 40px') Kalibracja czujnika siły:
                        p
                        button.btn.btn-lg.btn-primary.btn-block#adv_calib(type='button', data-toggle='modal', data-target="#adv_calib_mod1") Kalibruj

    include settings/settings_modals

    //START ADV CALIB MODAL
    script.
        function adv_calib_modf2(){
            socket.emit('status', 0);
            $('#adv_calib_mod2').modal('show')
            socket.emit('status', 4);
        }

    script.
        function adv_calib_modf3(){
            socket.emit('calib_force', (document.getElementById("adv_calib_weight2").value)/100);
            $('#adv_calib_mod3_wait').modal('show')

            setTimeout(function () {

                socket.emit('status', 5);

                setTimeout(function () {
                    $('#adv_calib_mod3_wait').modal('hide');
                }, 500);
                socket.emit('calib_force', 0);
                socket.emit('status', 0);

            }, 1000);
        }