extends layout

block layouts

block content
    .container-fluid
        include exercise/ex_displays.jade
        .row-buffer
        include exercise/ex_displays.jade




    include exercise/ex_modals.jade

block scripts bottom
    include exercise/ex_scripts.jade
