extends layout

block layouts

//block scripts top

block content
    .container-fluid
        include exercise/ex_displays_bar
        .row-buffer
        //include exercise/ex_displays_bar
        .row-bufferx2
        include exercise/ex_disp_button


    include exercise/ex_modals.jade


block scripts bottom
    include exercise/ex_scripts.jade