extends layout

block content

    p.col-xs-2
        label(for='ex1') moment bezwladnosci
            input#ex1.form-control(type='text')
            button.btn.btn-warning(onclick='interia(document.getElementById("ex1").value)') Zatiwerdz
    p.col-xs-2
        label(for='ex2') dlugosc linki
            input#ex2.form-control(type='text')
            button.btn.btn-warning(onclick='line(document.getElementById("ex2").value)') Zatiwerdz
    p.col-xs-2
        a.button.btn.btn-warning(onclick='kalib(0)') 0
        a.button.btn.btn-warning(onclick='kalib(1)') 1
        a.button.btn.btn-warning(onclick='kalib(2)') 2
        a.button.btn.btn-warning(onclick='kalib(3)') 3
        a.button.btn.btn-warning(onclick='kalib(4)') 4


    script.
        function interia(data) {
            socket.emit('interia', data);
        };
    script.
        function line(data) {
            socket.emit('line_length', data);
        };
    script.
        function kalib(data) {
            socket.emit('status', data);
        };




