extends layout

block content
    .container
        //CONTENT
        #id_content.text-left
            .h1 Tutaj będzie się zanjdowała instrukcja i inne opisy
            .h1 Jeśli chcesz się wylogować lub zmienić nic proszę otwórz aplikajcję w nowej karcie przeglądarki
            .h1 Polewej stornie znajduję się menu
            .h1 Za każdym razem gdy przejdziesz do zakłądki ćwiczenie zostaniesz poproszony o kalibrację urządzenia

     //MODALS
    #welcome_static_modal.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
            .modal-header
                h1.text-center Witamy w apliacji trenażer WebApp
            .modal-body.text-center
                p Proszę wipsz swoj identyfikator w pole Identyfikator poniżej i zatwierdź przyciskiem aby przejść do ekranu startowego
                .form-group
                    label(for='in_userID') Identyfikator:
                        input#in_userID.input-lg.form-control.text-center(type='tel', placeholder="Tutaj wpisz ID", oninput="warn_brn_enable()")
            .modal-footer
                button.btn.btn-primary#welcome_conf(type='button', data-dismiss='modal', onclick='wlecom_conf()', disabled="true") Potwierdź

    #welcome_warning.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
            .modal-header.bg-danger
                h1.text-center.text-danger UWAGA!!!
            .modal-body
                h2#warn_modal.text-center.text-danger !!
                h3.text-center.text-danger  Pamiętaj, że jest to rozwoja wersja użądzenia i należy używać jej tylko pod nazdorem przeszkolonego instrukotra!!
            .modal-footer
                p.text-center
                    button.btn.btn-danger(type='button', data-dismiss='modal', onclick='welc_conf_session()') Zgadzam się



    block scripts bottom

        //ON LOAD
        script(type='text/javascript').
            if (sessionStorage.getItem('welcome_once') !== 'true') {
                $(window).load(function () {
                    socket.emit('status', 0);
                    socket.emit('line_length', 0);
                    socket.emit('interia', 0);
                    $('#welcome_static_modal').modal('show');
                });}

        //CONDITIONS
        script.
            function warn_brn_enable() {
                //document.getElementById("welcome_conf").disabled = false;
                if (document.getElementById("in_userID").value.length > 0){
                    document.getElementById("welcome_conf").disabled = false;
                    }
                else{
                    document.getElementById("welcome_conf").disabled = true;
                }
            }


        //BUTTONS
        script.
            $('#myButton').click(function () {
                $('#welcome_static_modal').modal();});
        script.
            function wlecom_conf(){
                document.getElementById("warn_modal").innerHTML = document.getElementById("in_userID").value;
                //document.getElementById("ex4").placeholder = "C:/Trenazer/" + document.getElementById("in_userID").value;
                $('#welcome_warning').modal('show');}

        script.
            function welc_conf_session() {
                sessionStorage.setItem('welcome_once', 'true')
            };

