doctype html
html(lang='pl')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Trenazer WebApp
        // Bootstrap core CSS
        link(href="../css/bootstrap/bootstrap.css", rel='stylesheet')
        // Custom styles for this template
        link(href='../css/style.css', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='../css/demo.css')
        link(type='text/css', rel='stylesheet', href='../css/scroll.css')
        link(type='text/css', rel='stylesheet', href='../css/jquery.mmenu.all.css')
        link(type='text/css', rel='stylesheet', href='../css/jquery.mmenu.iconbar.css')
        link(type='text/css', rel='stylesheet', href='../css/inne.css')

        block layouts

        script(src='../js/socket.io.js')
        script.
            var liczba = 0;
            var socket = io().connect('http://localhost:3000');
            socket.on('message', function (message) {
                liczba = message;
            });

        block scripts_top
    body
        #page
            .header.Fixed
                a(href='#menu')
                |                Trenażer WebApp
            #content.content
                block content

            nav#menu
                ul
                    li
                        a(href='/')
                            p.glyphicon.glyphicon-info-sign
                            span(style='font-size: 25px') Informacje
                    li
                        a(href='exercise')
                            p.glyphicon.glyphicon-play-circle
                            span(style='font-size: 25px') Trening
                    li
                        a(href='settings')
                            p.glyphicon.glyphicon.glyphicon-cog
                            span(style='font-size: 25px') Ustawienia
                    li
                        a(href='#third')
                            p.glyphicon.glyphicon.glyphicon-question-sign
                            span(style='font-size: 25px') Inne
        // Scripts
        //
        script(src='../js/jquery.js')
        script(src='../js/bootstrap.js')
        script(type='text/javascript', src='../js/mmenu/jquery.mmenu.min.all.js')
        script(type='text/javascript', src='../js/mmenu/fix_foot.js')
        // IE10 viewport hack for Surface/desktop Windows 8 bug
        script(src='../../assets/js/ie10-viewport-bug-workaround.js')

        block scripts bottom
