extends layout

block content
    .container
        .row
            //CONTENT
            #id_content.text-center
                .h1 Tutaj znajdują się ustawienia traktowane jako domyślne podczas treningu
        .row
            .col-lg-8
                #adv_calib_params.text-left
                    h2 Parametry dodatkowe:
                    p
                    .form-group
                        label(for='ddamping_dynamic') Tłumienie od prędkości:
                            input#ddamping_dynamic.input-lg.form-control.text-center(type='number', placeholder="0")
                        label(for='ddamping_static') Tłumienie stałe:
                            input#ddamping_static.input-lg.form-control.text-center(type='number', placeholder="0")
        hr.new
        .row
           .col-lg-12
            #exercise_settings.text-left
                h2 Parametry treningu:
                p
                    .form-group
                        label(for='line_length') Długość liny:
                            .input-group.input-group-lg
                                input#line_length.input-lg.form-control.text-center(type='text', placeholder="0")
                                span.input-group-addon cm
                        label(for='roller_dist') Rozstaw rolek:
                            .input-group.input-group-lg
                                input#roller_dist.input-lg.form-control.text-center(type='text', placeholder="0")
                                span.input-group-addon mm
                        label(for='interia_moment') Masa:
                            .input-group.input-group-lg
                                input#interia_moment.input-lg.form-control.text-center(type='text', placeholder="0")
                                span.input-group-addon kg
        hr.new
        .row
            .col-lg-8
                #path_settings.text-left
                    h2 Ustawienia zapisu treningów:
                    p
                        .form-group
                            label(for='folder_name') Nazwa folderu:
                                input#folder_name.input-lg.form-control.text-center(type='text', placeholder="data")
                            label(for='file_name') Nazwa pliku:
                                input#file_name.input-lg.form-control.text-center(type='text', placeholder="godzina")
        hr.new
        .row
            .col-lg-6
                #disp1_range.text-left
                    h2 Zakresy wyświetlacza 1:
                    p
                        .form-group
                            label(for='disp1_min') Minimalna wartosc:
                                input#disp1_min.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='disp1_max') Maksymalna wartosc:
                                input#disp1_max.input-lg.form-control.text-center(type='number', placeholder="100")
            .col-lg-6
                #disp2_range.text-left
                    h2 Zakresy wyświetlacza 2:
                    p
                        .form-group
                            label(for='disp2_min') Minimalna wartosc:
                                input#disp2_min.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='disp2_max') Maksymalna wartosc:
                                input#disp2_max.input-lg.form-control.text-center(type='number', placeholder="100")
        .row
            .col-lg-6
                #max_time_range.text-left
                    h2 Maksymalny czas ćwiczenia:
                    p
                        .form-group
                            label(for='minutes_max') Minuty:
                                input#minutes_max.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='seconds_max') Sekundy
                                input#seconds_max.input-lg.form-control.text-center(type='number', placeholder="0")

            .col-lg-6
                #max_cycle_range.text-left
                    h2 Maksymalna ilość cykli:
                    p
                        .form-group
                            label(for='cycle_max') Ilość cykli:
                                input#cycle_max.input-lg.form-control.text-center(type='number', placeholder="0")
        .row
            button.btn.btn-lg.btn-success.btn-block#save_settings(type='button', data-toggle='modal', data-target="#sett_save_modal") Zapisz ustawienia
        .row
            p
        .row
            button.btn.btn-lg.btn-primary.btn-block#load_settings(type='button') Wczytaj
        .row
            .col-lg-12.text-center
                input#files(type='file', name='files[]', multiple='', style='opacity:0; height:0px; width:0px;')
                output.align-center#list

    include settings/settings_modals.jade

block scripts bottom
    include ./settings/settings_scripts