.glyphicon.menu {
    font-size: 25px;
    margin-right: 50px;
}

.glyphicon.phase{
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.glyphicon.button{
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

h1.display {
    margin-top: 4px;
    font-size: 3em;
    }

@media screen and (min-device-width : 800px) {
    h1.display {
        margin-top: 4px;
        font-size: 7em;
    }
}

h2.display {
    margin-top: 4px;
    font-size: 2em;
}

@media screen and (min-device-width : 800px) {
    h2.display {
        margin-top: 20px;
        font-size: 4em;
    }
}

h3.display {
    margin-top: 2px;
    font-size: 1em;
}

@media screen and (min-device-width : 800px) {
    h3.display {
        margin-top: 2px;
        font-size: 1.7em;
    }
}

.bg-display {
    background-color: #E6E6E6;
    height: 135px;
}

.progress.progress-big {
    background: rgba(245, 245, 245, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 0px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.progress-bar-custom {
    background: rgba(151, 159, 166, 1);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.warn_window{
    width: 30%;
    height: 38px;
    float: left;
}

.tolerance_window{
    width: 40%;
    height: 38px;
    float: left;
}
.button_window-lg{
    width: 37.5%;
    height: 135px;
    float: left;
}

.button_window{
    width: 25%;
    height: 135px;
    float: left;
}

.btn-block.block-full{
    height: 100%;
}

.row-buffer {
    margin-top: 60px;
}

.row-bufferx2 {
    margin-top: 100px;
}

.container30_bar{
    width:30%;
    max-width:980px;
    margin: 0px auto;
}

.container40_bar{
    width:40%;
    max-width:980px;
    margin: 0px auto;
}

hr.new {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}