.row
   .col-md-12
      .col-md-6.bg-display
         .row
            select.selectpicker.show-tick#disp1_sel(data-width='100%', data-live-search="true", onchange="bar_selected1()")
               option#mean_phase_acc_1 Średnia wartość siły w fazie rozpędzania [N]
               option#mean_phase_brake_1 Średnia wartość siły w fazie hamowania [N]
               option#mean_cycle_1 Średnia wartość siły w całym cyklu [N]
               option#time_acceleration_1 Czas fazy rozpędzania [ms]
               option#time_brake_1 Czas fazy hamowania [ms]
               option#time_cycle_1 Czas cyklu [ms]
               option#max_spped_cycle_1 Wartość maksymalna prędkości w cyklu [m/s]
               option#max_power_cycle_1 Wartość funkcji koncentracji siły w cyklu [N]
         .row
            h1.display#display_1(style="color:black") 888.888
      .col-md-6
         .row
            #bar_warn_UPL1.warn_window.pull-left.bg-danger
            #bar_ok_UP1.tolerance_window.bg-success
            #bar_warn_UPR1.warn_window.bg-danger
         .row
            .warn_window.progress.progress-big
                  #bar_range_down1.progress-bar.progress-bar-custom(role='progressbar')
            .tolerance_window.progress.progress-big
                  #bar_range_ok1.progress-bar.progress-bar-custom(role='progressbar')
            .warn_window.progress.progress-big
                  #bar_range_up1.progress-bar.progress-bar-custom(role='progressbar')
         .row
            #bar_warn_DOWNL1.warn_window.pull-left.bg-danger
            #bar_ok_DOWN1.tolerance_window.bg-success
            #bar_warn_DOWNR1.warn_window.bg-danger
.row
    p
    p
.row
   .col-md-12
      .col-md-6.bg-display
         .row
            select.selectpicker.show-tick#disp2_sel(data-width='100%', data-live-search="true", onchange="bar_selected2()")
               option#mean_phase_acc_2 Średnia wartość siły w fazie rozpędzania [N]
               option#mean_phase_brake_2 Średnia wartość siły w fazie hamowania [N]
               option#mean_cycle_2 Średnia wartość siły w całym cyklu [N]
               option#time_acceleration_2 Czas fazy rozpędzania [ms]
               option#time_brake_2 Czas fazy hamowania [ms]
               option#time_cycle_2 Czas cyklu [ms]
               option#max_spped_cycle_2 Wartość maksymalna prędkości w cyklu [m/s]
               option#max_power_cycle_2 Wartość funkcji koncentracji siły w cyklu [N]
         .row
            h1.display#display_2(style="color:black") 888.888
      .col-md-6
         .row
            #bar_warn_UPL2.warn_window.pull-left.bg-danger
            #bar_ok_UP2.tolerance_window.bg-success
            #bar_warn_UPR2.warn_window.bg-danger
         .row
            .warn_window.progress.progress-big
               #bar_range_down2.progress-bar.progress-bar-custom(role='progressbar')
            .tolerance_window.progress.progress-big
               #bar_range_ok2.progress-bar.progress-bar-custom(role='progressbar')
            .warn_window.progress.progress-big
               #bar_range_up2.progress-bar.progress-bar-custom(role='progressbar')
         .row
            #bar_warn_DOWNL2.warn_window.pull-left.bg-danger
            #bar_ok_DOWN2.tolerance_window.bg-success
            #bar_warn_DOWNR2.warn_window.bg-danger
