
.row
   .col-md-12
      .col-md-6.bg-display
         .row
            select.selectpicker.show-tick#disp1_sel(data-width='100%', data-live-search="true", onchange="bar_selected()")
               option#mean_phase_acc_1 Średnia wartość siły w fazie rozpędzania [N]
               option#mean_phase_brake_1 Średnia wartość siły w fazie hamowania [N]
               option#mean_cycle_1 Średnia wartość siły w całym cyklu [N]
               option#time_acceleration_1 Czas fazy rozpędzania [ms]
               option#time_brake_1 Czas fazy hamowania [ms]
               option#time_cycle_1 Czas cyklu [ms]
               option#max_spped_cycle_1 Wartość maksymalna prędkości w cyklu [m/s]
               option#max_power_cycle_1 Wartość funkcji koncentracji siły w cyklu [N]
         .row
            h1.display#display_1(style="color:black") 888.888
      .col-md-6
         .row
            #bar_warn_UPL.warn_window.pull-left.bg-danger
            #bar_ok_UP.tolerance_window.bg-success
            #bar_warn_UPR.warn_window.bg-danger
         .row
            .progress.progress-big
                  #bar_range_down.progress-bar(role='progressbar', style='width:30%')
                  #bar_range_ok.progress-bar.progress-bar-custom(role='progressbar', style='width:40%')
                  //#bar_range_up.progress-bar.progress-bar-warning(role='progressbar', data-transitiongoal='20', style='width:30%')
         .row
            #bar_warn_DOWNL.warn_window.pull-left.bg-danger
            #bar_ok_DOWN.tolerance_window.bg-success
            #bar_warn_DOWNR.warn_window.bg-danger

