script.
   document.getElementById("bar1").setAttribute("aria-valuemin",400)

.row
   .col-md-12
      .col-md-6.bg-display
         .row
            select.selectpicker.show-tick#disp1_sel(data-width='100%', data-live-search="true", onchange="bar_selected()")
               option#mean_phase_acc_1 Średnia wartość siły w fazie rozpędzania [N]
               option#mean_phase_brake_1 Średnia wartość siły w fazie hamowania [N]
               option#mean_cycle_1 Średnia wartość siły w całym cyklu [N]
               option#time_acceleration_1 Czas fazy rozpędzania [m/s]
               option#time_brake_1 Czas fazy hamowania [m/s]
               option#time_cycle_1 Czas cyklu [m/s]
               option#max_spped_cycle_1 Wartość maksymalna prędkości w cyklu [m/s]
               option#max_power_cycle_1 Wartość funkcji koncentracji siły w cyklu [N]
         .row
            h1.display#display_1(style="color:black") 888.888
      .col-md-6
         .row
            .warn_window.pull-left.bg-danger
            .tolerance_window.bg-success
            .warn_window.bg-danger
         .row
            .progress.progress-big
               #bar1.progress-bar.progress-bar-custom(role='progressbar', data-transitiongoal='20')
         .row
            .warn_window.pull-left.bg-danger
            .tolerance_window.bg-success
            .warn_window.bg-danger

