.row
   .col-md-12
      .col-md-6.bg-display
         .row
            .col-md-5.bg-display
                  //.btn-default.bg-display(type='button', data-toggle='collapse', data-target='#cycle_count_input', aria-expanded='false', aria-controls='#cycle_count_input')
                  h2#cycle_count.display(style="color:black") 0
                     h3.display Liczba cykli
            .col-md-2.bg-display
                  i#triangle_phase.glyphicon.phase.glyphicon-triangle-bottom(style="color:black")
                  h3.display Faza
            .col-md-5.bg-display
                  //.btn-default.bg-display(type='button', data-toggle='collapse', data-target='#time_cycle_count_input', aria-expanded='false', aria-controls='#time_cycle_count_input')
                  h2.display#time_count_s(style="color:black") 00:00
                     h3.display Czas treningu
         //#time_cycle_count_input.collapse
            .row
               .col-md-6.bg-display
                  .input-group.input-group-lg
                     span#cycle_count_input.input-group-addon Cykle
                     input.form-control(type='text', placeholder='Liczba cykli', aria-describedby='#cycle_count_input')
               .col-md-6.bg-display
                  .input-group.input-group-lg
                     span.input-group-addon Czas
                     input#time_count_input_m.form-control(type='number', placeholder='minuty', aria-describedby='#time_cycle_count_input_m')
                     input#time_count_input_s.form-control(type='number', placeholder='sekundy', aria-describedby='#time_cycle_count_input_s')
      .col-md-6
                  .row
                     .button_window-lg
                        button#stopwatch_start.btn.btn-success.btn-lg.btn-block.block-full(type='button', onclick='stopwatch_start()')
                           span.glyphicon.button.glyphicon-play
                           h2 Start
                     .button_window
                        button#stopwatch_REC.btn.btn-default.btn-lg.btn-block.block-full(type='button', onclick='REC_data_start()')
                           span#rec_glyph_color.glyphicon.button.glyphicon-record
                           h2#rec_text_color REC
                     .button_window-lg
                        button#stopwatch_stop.btn.btn-warning.btn-lg.btn-block.block-full(type='button')
                           span.glyphicon.button.glyphicon-stop
                           h2  Stop