#calibration_modal_1.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    .modal-header
        h1.text-center Proces kalibracji
    .modal-body.text-center
        p Witamy w procesie kalibracji.
        p Jeśli chcesz przejść do klabiracji urządzenia wciśnij przycisk Dalej.
    .modal-footer
      a(href='/')
         button.btn.btn-lg(type='button') Wróć
      button.btn.btn-lg.btn-primary#cal_mod_conf_1(type='button', data-dismiss='modal', onclick='calib_mod2_line(0)') Dalej
#calibration_modal_2.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    form(data-toggle='validator', role='form')
        .modal-header
            h1.text-center Długość liny i moment bezwładności
        .modal-body
            h2.text-center  Proszę wpisz ustawienia z jakimi chcesz ćwiczyć i klikinj dalej
            .form-group.has-feedback
                label.control-label(for='line_length')  Długość
                .input-group.input-group-lg
                    span.input-group-addon cm
                    input#line_length.form-control(type='number', min='20',max='150', placeholder='20-150', required='', oninput='cal_mod_checkLI()')
                span.glyphicon.form-control-feedback(aria-hidden='true')
                span.help-block.with-errors.text-center Proszę podać długość linki w cm
            .form-group.has-feedback
                label.control-label(for='interia_moment') Moment bezwładności
                .input-group.input-group-lg
                    span.input-group-addon N
                    input#interia_moment.form-control(type='number', min='500',max='50000', placeholder='500-50000', required='', oninput='cal_mod_checkLI()')
                span.glyphicon.form-control-feedback(aria-hidden='true')
                span.help-block.with-errors.text-center Proszę podać moment bezwładności w N
            .form-group.text-center
                button.btn.btn-lg.btn-success#btn_llength_conf(type='button', onclick='calib_mod3_line_interia()', disabled='true') Potwierdzam
        .modal-footer
            a(href='/')
                button.btn.btn-lg(type='button') Wróć
                button.btn.btn-lg.btn-primary#btn_llength_next(type='submit', data-dismiss='modal', onclick='calib_mod3_next(0)', disabled='true') Dalej

#calibration_modal_3.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #fold_mod_head.modal-header
        h1.text-center Kalibracja liny
    .modal-body.text-center
        p Teraz aby kontunuować klaibrację urządzenia wyciągnij powoli całą długość liny.
        p Po pojawieniu się zielonego napisu "LINA OK" możesz przejść dalej
        h1#linaok.bg-danger LINA ZLE WYCIAGNIETA
        button.btn.btn-lg.btn-warning#line_fold(type='button',data-toggle='modal', href='#modal_warning', disabled="true") Nawiń linę
    .modal-footer
        a(href='/')
            button.btn.btn-lg(type='button') Wróć
        button.btn.btn-lg.btn-primary#cal_mod_conf_last(type='button', data-dismiss='modal', onclick='calib_session_last(2)', disabled='true') Rozpocznij ćwiczenie

#modal_waiting.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    .modal-header.bg-warning
        h1 Nawijanie...
    .modal-body.text-center
        .progress
            .progress-bar.progress-bar-warning.progress-bar-striped.active(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width:100%')
                | Nawijanie
    .modal-footer

#modal_warning.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #warning_fold_mod.modal-header.bg-danger
        h1.text-center.text-danger UWAGA !!!
    .modal-body
        h2.text-center.text-danger Teraz nastąpi zwinięcie liny!!!
    .modal-footer
        p.text-center
            button#fold_confirm.btn.btn-lg.btn-danger(type='button', data-dismiss='modal', onclick='line_fold(1)', disabled="true") Ok
