#calibration_modal_1.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    .modal-header
        h1.text-center Proces kalibracji
    .modal-body.text-center
        .row
            .btn-group
                button.btn.btn-lg.btn-warning#load_manual(type='button' , data-dismiss='modal', onclick='pull_request_man()')
                    .top-buffer
                    p Wpisz ręcznie
                    .top-buffer
                button.btn.btn-lg.btn-success#load_locally(type='button', data-dismiss='modal', onclick='pull_request()')
                    .top-buffer
                    p Wczytaj z pliku
                    .top-buffer
                button.btn.btn-lg.btn-primary#load_form_server(type='button', disabled='true')
                    .top-buffer
                    p Przez internet
                    .top-buffer
    .modal-footer
      a(href='/')
        .row
            .col-lg-12
                button.btn.btn-lg.btn-block(type='button') Wróć


//Modal Manual
#calibration_modal_2.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    form#form_line(data-toggle='validator', role='form')
        .modal-header
            h1.text-center Długość liny i moment bezwładności
        .modal-body
            h2.text-center  Proszę wpisz ustawienia z jakimi chcesz ćwiczyć i klikinj dalej
            .form-group.has-feedback
                label.control-label(for='line_length')  Długość
                .input-group.input-group-lg
                    span.input-group-addon cm
                    input#line_length.form-control(type='number', min='5',max='150', placeholder='5-150 cm', required='', oninput='cal_mod_checkLI()')
                span.glyphicon.form-control-feedback(aria-hidden='true')
                span.help-block.with-errors.text-center Proszę podać długość linki w cm

            .form-group.has-feedback
                label.control-label(for='roller_dist') Odległość rolek
                .input-group.input-group-lg
                    span.input-group-addon cm
                    input#roller_dist.form-control(type='number',step="any", min='0',max='50', placeholder='0-50 cm', required='', oninput='cal_mod_checkLI()')
                span.glyphicon.form-control-feedback(aria-hidden='true')
                span.help-block.with-errors.text-center Proszę podać odległość rolek w cm

            .form-group.has-feedback
                label.control-label(for='interia_moment') Masa
                .input-group.input-group-lg
                    span.input-group-addon kg
                    input#interia_moment.form-control(type='number', step="any" , min='0.1',max='10000', placeholder='0-200 kg', required='', oninput='cal_mod_checkLI()')
                span.glyphicon.form-control-feedback(aria-hidden='true')
                span.help-block.with-errors.text-center Proszę podać masę w kg
            .form-group.text-center
                button.btn.btn-lg.btn-success#btn_llength_conf(type='button', onclick='calib_mod3_line_interia()', disabled='true') Potwierdzam
        .modal-footer
            a(href='/')
                button.btn.btn-lg(type='button') Wróć
                button.btn.btn-lg.btn-primary#btn_llength_next(type='submit', data-dismiss='modal', onclick='calib_mod3_next(0)', disabled='true') Dalej



#calibration_modal_3.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #fold_mod_head.modal-header
        h1.text-center Kalibracja liny
    .modal-body.text-center
        h2 Jeśli lina znajduje się w złej pozycji szarpnij
        h1#linaok.bg-danger Proszę wyciągnąć linę
        button.btn.btn-lg.btn-warning#line_fold(type='button',data-toggle='modal', href='#modal_warning') Nawiń linę
    .modal-footer
        a(href='/')
            button.btn.btn-lg(type='button') Wróć
        button.btn.btn-lg.btn-primary#cal_mod_conf_last(type='button', data-dismiss='modal', onclick='calib_session_last(2)', disabled='true') Rozpocznij ćwiczenie

//Modal auto
#calibration_modal_3_auto.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #fold_mod_head_auto.modal-header
        h1.text-center Kalibracja liny
    .modal-body.text-center
        h2#sdynamic_damping TP: xx
        h2#sstatic_damping TS: xx
        h2#sett_line_length_auto L: xx
        h2#sett_roller_dist_auto RF: xx
        h2#sett_interiam_auto IM: xx
        h1#linaok_auto.bg-danger Proszę wyciągnąć linę
        h2 Jeśli wciąż znajduje się w złej pozycji szarpnij !!
        button.btn.btn-lg.btn-warning#line_fold_auto(type='button',data-toggle='modal', href='#modal_warning') Nawiń linę
    .modal-footer
        a(href='/')
            button.btn.btn-lg(type='button') Wróć
        button.btn.btn-lg.btn-primary#cal_mod_conf_last_auto(type='button', data-dismiss='modal', onclick='calib_session_last(2)', disabled='true') Rozpocznij ćwiczenie


#modal_waiting.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    .modal-header.bg-warning
        h1 Nawijanie...
    .modal-body.text-center
        .progress
            #line_bar.progress-bar.progress-bar-warning.progress-bar-striped.active(role='progressbar', style='width:100%')
                | Nawijanie
    .modal-footer

#modal_warning.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #warning_fold_mod.modal-header.bg-danger
        h1.text-center.text-danger UWAGA !!!
    .modal-body
        h2.text-center.text-danger Upewnij się, że lina nie jest naprężona !
        h2.text-center.text-danger Teraz nastąpi nawinięcie liny !
        p.text-center
            button#fold_confirm.btn.btn-lg.btn-danger(type='button', data-dismiss='modal', onclick='line_fold(1)', disabled="true") Rozumiem 

#sett_exercise_modal.modal.container.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none', data-color="green")
    #sett_exercise_head.modal-header
        h1.text-center Konfiguracja Treningu
    .modal-body(style="background-color:#DCDCDC")
        .row
            .col-lg-6
                #path_settings_ex.text-left
                    h2 Ustawienia zapisu treningów:
                    p
                        .form-group
                            label(for='folder_name_ex') Nazwa folderu:
                                input#folder_name_ex.input-lg.form-control.text-center(type='text', placeholder="data")
                            label(for='file_name_ex') Nazwa pliku:
                                input#file_name_ex.input-lg.form-control.text-center(type='text', placeholder="godzina")
        .row
            .col-lg-6
                #disp1_range_ex.text-left
                    h2 Zakresy wyświetlacza 1:
                    p
                        .form-group
                            label(for='disp1_min_ex') Minimalna wartosc:
                                input#disp1_min_ex.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='disp1_max_ex') Maksymalna wartosc:
                                input#disp1_max_ex.input-lg.form-control.text-center(type='number', placeholder="100")
            .col-lg-6
                #disp2_range_ex.text-left
                    h2 Zakresy wyświetlacza 2:
                    p
                        .form-group
                            label(for='disp2_min_ex') Minimalna wartosc:
                                input#disp2_min_ex.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='disp2_max_ex') Maksymalna wartosc:
                                input#disp2_max_ex.input-lg.form-control.text-center(type='number', placeholder="100")
        .row
            .col-lg-6
                #max_time_range_ex.text-left
                    h2 Maksumalny czas ćwiczenia
                    p
                        .form-group
                            label(for='minutes_max_ex') Minuty:
                                input#minutes_max_ex.input-lg.form-control.text-center(type='number', placeholder="0")
                            label(for='seconds_max_ex') Sekundy
                                input#seconds_max_ex.input-lg.form-control.text-center(type='number', placeholder="0")
            .col-lg-6
                #max_cycle_range_ex.text-left
                    h2 Maksymalna ilość cykli
                    p
                        .form-group
                            label(for='cycle_max_ex') Ilość cykli:
                                input#cycle_max_ex.input-lg.form-control.text-center(type='number', placeholder="0")

    .modal-footer
        p.text-center
            button#save_sett_exercise_confirm.btn.btn-lg.btn-success(type='button', data-dismiss='modal', onclick="save_ex_updated_sett()") Zapisz

#modal_pull_req.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #warning_pull.modal-header.bg-danger
        h1.text-center.text-danger UWAGA !!!
    .modal-body
        h2.text-center.text-danger Wyciągnij linę na maksymalną długość
        h2.text-center.text-danger i pozostaw luźną
        p.text-center
            button#pull_warn.btn.btn-lg.btn-danger(type='button', data-dismiss='modal', onclick='calib_mod2_auto()') Wyciągnięta

#modal_pull_req_man.modal.fade(tabindex='-1', data-backdrop='static', data-keyboard='false', style='display: none;')
    #warning_pull_man.modal-header.bg-danger
        h1.text-center.text-danger UWAGA !!!
    .modal-body
        h2.text-center.text-danger Wyciągnij linę na maksymalną długość
        h2.text-center.text-danger i pozostaw luźną
        p.text-center
            button#pull_warn_man.btn.btn-lg.btn-danger(type='button', data-dismiss='modal', onclick='calib_mod2_line(0)') Wyciągnięta