//ON LOAD
//Reset calobration

//modal temp
script(type='text/javascript').
    if (sessionStorage.getItem('callib_modal') !== 'true') {
        $(window).load(function () {
            socket.emit('status', 0);
            socket.emit('damping_dynamic', 0);
            socket.emit('damping_static', 0);
            socket.emit('line_length', 0);
            socket.emit('roller_dist', 0);
            socket.emit('interia', 0);
            socket.emit('status', 0);
            socket.emit('status', 7);
            socket.emit('status', 3);
            socket.emit('status', 0);
            $('#calibration_modal_1').modal('show');
            $('.selectpicker').selectpicker();
            $('#disp2_sel').selectpicker('val', "4");
            $('.selectpicker').selectpicker('refresh');
        });
    }

//Exit Event
//script.
   window.onbeforeunload = function (e) {
      var e = e || window.event;
      // For IE and Firefox prior to version 4
      if (e) {
         e.returnValue = 'Czy na pewno chcesz opuścic tryb treningu ?';
      }
      // For Safari
      return 'Czy na pewno chcesz opuścic tryb treningu ?';
   };

//Mod invite calib manual
script.
    function calib_mod2_line(data) {
        $('#calibration_modal_2').modal('show')
        socket.emit('status', data);
        socket.emit('line_length',0);
        socket.emit('interia', 0);
    };

//Mod invite calib auto
script.
    function calib_mod2_auto() {
        socket.emit('calib_req', 0);
        socket.emit('status', 0);
        socket.emit('damping_dynamic', 0);
        socket.emit('damping_static', 0);
        socket.emit('line_length',0);
        socket.emit('interia', 0);
        $('#calibration_modal_3_auto').modal('show')

    };

//Update line values
script.
    socket.on('line_values', function (data) {
        document.getElementById("sett_line_length_auto").innerHTML = "Długość liny: " + data.line_l + " cm";
        document.getElementById("sett_roller_dist_auto").innerHTML = "Rozstaw rolek: " + data.roller_d + " mm";
        document.getElementById("sett_interiam_auto").innerHTML = "Masa: " + data.interia_m + " kg";
        document.getElementById("sdynamic_damping").innerHTML = "Tarcie od prędkosci: " + data.damping_dynamic;
        document.getElementById("sstatic_damping").innerHTML = "Tracie stałe: " + data.damping_static;
        socket.emit('line_length', data.line_l);
        socket.emit('roller_dist', data.roller_d);
        socket.emit('interia', data.interia_m);
        socket.emit('damping_dynamic', data.damping_static);
        socket.emit('damping_static', data.damping_dynamic);
        socket.emit('status', 0);
        socket.emit('status', 4);
        socket.emit('status', 8);
    });


//LINE LENGTH
//Line length button --> In range chagnes check in modals code
script.
    function cal_mod_checkLI() {
        if ((document.getElementById("line_length").value >= 5 && document.getElementById("line_length").value <= 150) && (document.getElementById("interia_moment").value >= 0.1 && document.getElementById("interia_moment").value <= 1000) && (document.getElementById("roller_dist").value >=0 && document.getElementById("roller_dist").value <= 50)){
            document.getElementById("btn_llength_conf").disabled = false;
        }
        else {
            document.getElementById("btn_llength_conf").disabled = true;
        }};

//Line buton confirm
script.
    function calib_mod3_line_interia(){
        socket.emit('line_length', document.getElementById("line_length").value);
        socket.emit('roller_dist', document.getElementById("roller_dist").value);
        socket.emit('interia', document.getElementById("interia_moment").value);
        document.getElementById("btn_llength_next").disabled = false;
    }

//Line Next
script.
    function calib_mod3_next(data) {
        socket.emit('status', data);
        socket.emit('status', 4);
        socket.emit('status', 8);
        $('#calibration_modal_3').modal('show');
    }
//Line fold
script.
    function line_fold(data){
        socket.emit('status', 0);
        socket.emit('status', 4);
        socket.emit('status', data);
        $('#modal_waiting').modal('show');
        setTimeout(function () {
            $('#modal_waiting').modal('hide');
            //document.getElementById("line_fold").disabled = true;
            document.getElementById("cal_mod_conf_last").disabled = false;
            document.getElementById("cal_mod_conf_last").click();
            document.getElementById("cal_mod_conf_last_auto").disabled = false;
            document.getElementById("cal_mod_conf_last_auto").click();
        }, 1000);
        phase_count = 0;
    }


//Calibration last
script.
    function calib_session_last(data) {
        socket.emit('status', data);
        //sessionStorage.setItem('callib_modal', 'true')
    };

//DISPLAY
//DISPLAY BAR 1
script.
    socket.on('disp_bar1', function (data) {
        document.getElementById("display_1").innerHTML = data;
    });

//DISPLAY BAR
script.
    socket.on('disp_bar2', function (data) {
        document.getElementById("display_2").innerHTML = data;
    });

//DISP SELECTED1
script.
    function bar_selected1() {
        var selectedValue = $('#disp1_sel').find("option:selected").attr("id");
        socket.emit("sel_disp_1", selectedValue);
    }

//DISP SELECTED2
script.
    function bar_selected2() {
        var selectedValue = $('#disp2_sel').find("option:selected").attr("id");
        socket.emit("sel_disp_2", selectedValue);
    }

//BAR WIDTH 1
script.
    var ping_flag1=0;

    socket.on('procent1', function (data) {

        act_val = data.data1;
        range_min = data.data2*1.0;
        range_max = data.data3*1.0;

        lower_bound = parseFloat(range_min) - ((range_max-range_min)*0.3);
        uppper_bound = parseFloat(range_max) + ((range_max-range_min)*0.3);

        lower_bound_scale = ((act_val-lower_bound)*(100))/(range_min-lower_bound);
        ok_bound_scale = ((act_val-range_min)*(100))/(range_max-range_min);
        upper_bound_scale = ((act_val-range_max)*(100))/(uppper_bound-range_max);

        if (act_val < range_min) {
            $('#bar_warn_UPL1').attr("style", "background-color: red");
            $('#bar_warn_UPR1').attr("style", "");
            $('#bar_ok_UP1').attr("style", "");
            $('#bar_ok_DOWN1').attr("style", "");
            $('#bar_warn_DOWNL1').attr("style", "background-color: red");
            $('#bar_warn_DOWNR1').attr("style", "");
            $('#bar_range_down1').attr({
                "data-transitiongoal": lower_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok1').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_up1').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            if (ping_flag1 == 0) {
                socket.emit('range_sound1', 0);
                ping_flag1 = 1
            }
        }
        else if ((act_val >= range_min) && (act_val <= range_max)) {
            $('#bar_range_up1').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok1').attr({
                "data-transitiongoal": ok_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_down1').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_warn_UPL1').attr("style", "");
            $('#bar_warn_UPR1').attr("style", "");
            $('#bar_ok_UP1').attr("style", "");
            $('#bar_ok_DOWN1').attr("style", "");
            $('#bar_warn_DOWNL1').attr("style", "");
            $('#bar_warn_DOWNR1').attr("style", "");
            ping_flag1 = 0;
        }
        else if (act_val > range_max) {
            $('#bar_warn_UPL1').attr("style", "");
            $('#bar_warn_UPR1').attr("style", "background-color: red");
            $('#bar_ok_UP1').attr("style", "");
            $('#bar_ok_DOWN1').attr("style", "");
            $('#bar_warn_DOWNL1').attr("style", "");
            $('#bar_warn_DOWNR1').attr("style", "background-color: red");
            $('#bar_range_down1').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok1').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_up1').attr({
                "data-transitiongoal": upper_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            if (ping_flag1 == 0) {
                socket.emit('range_sound1', 1);
                ping_flag1 = 1
            }
        }
    });


//BAR WIDTH 2
script.
    var ping_flag2 = 0;

    socket.on('procent2', function (data) {

        act_val = data.data1;
        range_min = data.data2*1.0;
        range_max = data.data3*1.0;

        lower_bound = parseFloat(range_min) - ((range_max-range_min)*0.3);
        uppper_bound = parseFloat(range_max) + ((range_max-range_min)*0.3);

        lower_bound_scale = ((act_val-lower_bound)*(100))/(range_min-lower_bound);
        ok_bound_scale = ((act_val-range_min)*(100))/(range_max-range_min);
        upper_bound_scale = ((act_val-range_max)*(100))/(uppper_bound-range_max);

        if (act_val < range_min) {
            $('#bar_warn_UPL2').attr("style", "background-color: red");
            $('#bar_warn_UPR2').attr("style", "");
            $('#bar_ok_UP2').attr("style", "");
            $('#bar_ok_DOWN2').attr("style", "");
            $('#bar_warn_DOWNL2').attr("style", "background-color: red");
            $('#bar_warn_DOWNR2').attr("style", "");
            $('#bar_range_down2').attr({
                "data-transitiongoal": lower_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok2').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_up2').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            if (ping_flag2==0){
                socket.emit('range_sound2',0);
                ping_flag2=1
            }
        }
        else if ((act_val >= range_min) && (act_val <= range_max)) {
            $('#bar_range_up2').attr({
                "data-transitiongoal": 0,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok2').attr({
                "data-transitiongoal": ok_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_down2').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_warn_UPL2').attr("style", "");
            $('#bar_warn_UPR2').attr("style", "");
            $('#bar_ok_UP2').attr("style", "");
            $('#bar_ok_DOWN2').attr("style", "");
            $('#bar_warn_DOWNL2').attr("style", "");
            $('#bar_warn_DOWNR2').attr("style", "");
            ping_flag2 = 0;
        }
        else if (act_val > range_max) {
            $('#bar_warn_UPL2').attr("style", "");
            $('#bar_warn_UPR2').attr("style", "background-color: red");
            $('#bar_ok_UP2').attr("style", "");
            $('#bar_ok_DOWN2').attr("style", "");
            $('#bar_warn_DOWNL2').attr("style", "");
            $('#bar_warn_DOWNR2').attr("style", "background-color: red");
            $('#bar_range_down2').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_ok2').attr({
                "data-transitiongoal": 100,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            $('#bar_range_up2').attr({
                "data-transitiongoal": upper_bound_scale,
                "aria-valuemin": 0,
                "aria-valuemax": 100,
                "style": "background-color:#404040"
            }).progressbar({display_text: '', transition_delay: 0, refresh_speed: 0});
            if (ping_flag2 == 0){
                socket.emit('range_sound2',1);
                ping_flag2= 1
            }
        }
    });

//Stopwatch start button
script.
    function stopwatch_start() {
        document.getElementById("stopwatch_start").disabled = true;
        socket.emit('stopwach', {stoper_stop: 0, stoper_stop_zero: 0})
    }

//RECORD DATA START
script.
    function REC_data_start(){
        if(document.getElementById("stopwatch_start").disabled==true) {
            socket.emit('REC', 1);
            document.getElementById("rec_glyph_color").style.color = "red";
            document.getElementById("rec_text_color").style.color = "red";
            document.getElementById("stopwatch_start").disabled = true;
            document.getElementById("stopwatch_REC").disabled = true;
        }
        if(document.getElementById("stopwatch_start").disabled==false) {
            socket.emit('REC', 1);
            document.getElementById("rec_glyph_color").style.color = "red";
            document.getElementById("rec_text_color").style.color = "red";
            document.getElementById("stopwatch_start").disabled = true;
            document.getElementById("stopwatch_REC").disabled = true;
            socket.emit('stopwach', {stoper_stop: 0, stoper_stop_zero: 0})
        }
    };

//Stopwatch stop button
script.
    function stopwatch_stop() {
        socket.emit('REC', 0);
        socket.emit('stopwach', {stoper_stop: 1, stoper_stop_zero: 1})
        document.getElementById("rec_glyph_color").style.color = "black";
        document.getElementById("rec_text_color").style.color = "black";
        document.getElementById("stopwatch_start").disabled = false;
        document.getElementById("stopwatch_REC").disabled = false;
    }

//Stopwatch end time
script.
    socket.on("stoper_stop", function () {
        document.getElementById("rec_glyph_color").style.color = "black";
        document.getElementById("rec_text_color").style.color = "black";
    })

//Stopwatch update
script.
    socket.on('stoper_time', function (data) {
        seconds = data.seconds;
        minutes = data.minutes;

        if (minutes < 10 && seconds < 10) {
            document.getElementById("time_count_s").innerHTML = "0" + minutes + ":0" + seconds;
        }
        else if (minutes < 10 && seconds >= 10) {
            document.getElementById("time_count_s").innerHTML = "0" + minutes + ":" + seconds;
        }
        else if (minutes >= 10 && seconds < 10) {
            document.getElementById("time_count_s").innerHTML = minutes + ":0" + seconds;
        }
        else {
            document.getElementById("time_count_s").innerHTML = minutes + ":" + seconds;
        }
    });



//Phase triangle
script.
    socket.on('phase_sens', function (data) {
        if (data == 1) {
            document.getElementById("triangle_phase").className = "glyphicon phase glyphicon-triangle-top";
        }
        else{
            document.getElementById("triangle_phase").className = "glyphicon phase glyphicon-triangle-bottom";
        }
    });

//LINE FOLD SOCKET
script.
    socket.on('induct_stat', function (data) {
        if (data == 0) {
            document.getElementById("linaok").className = "bg-success";
            document.getElementById("fold_mod_head").className = "modal-header bg-success";
            document.getElementById("warning_fold_mod").className = "modal-header bg-success";
            document.getElementById("linaok").innerHTML = "LINA USTAWIONA OK";
            document.getElementById("line_fold").disabled = false;
            document.getElementById("fold_confirm").disabled = false;
            document.getElementById("fold_confirm").className = "btn btn-lg btn-success";
            document.getElementById("linaok_auto").className = "bg-success";
            document.getElementById("fold_mod_head_auto").className = "modal-header bg-success";
            document.getElementById("linaok_auto").innerHTML = "LINA USTAWIONA OK";
            document.getElementById("line_fold_auto").disabled = false;
            //document.getElementById("fold_confirm_auto").disabled = false;
            //document.getElementById("fold_confirm_auto").className = "btn btn-lg btn-success";
        } else{
            document.getElementById("linaok").className = "bg-danger";
            document.getElementById("fold_mod_head").className = "modal-header bg-danger";
            document.getElementById("warning_fold_mod").className = "modal-header bg-danger";
            document.getElementById("linaok").innerHTML = "LINA ZLE WYCIAGNIETA";
            //document.getElementById("line_fold").disabled = true;
            document.getElementById("fold_confirm").disabled = true;
            document.getElementById("fold_confirm").className = "btn btn-lg btn-danger";
            document.getElementById("linaok_auto").className = "bg-danger";
            document.getElementById("fold_mod_head_auto").className = "modal-header bg-danger";
            document.getElementById("linaok_auto").innerHTML = "LINA ZLE WYCIAGNIETA";
            //document.getElementById("line_fold_auto").disabled = true;
            //document.getElementById("fold_confirm_auto").disabled = true;
            //document.getElementById("fold_confirm_auto").className = "btn btn-lg btn-danger";
        }
    });

//Cycle_counter
script.

    socket.on('cycle_count', function (data) {
            document.getElementById("cycle_count").innerHTML = data;
    });

//Modal_settings_ex
script.
    function settings_upd_req(){
        socket.emit("sett_upd_req",1)
        $("#sett_exercise_modal").modal("show");
    }

script.
    socket.on('settings_ex', function (data) {
        json_settings = data;
        document.getElementById("file_name_ex").value = json_settings.file_name;
        document.getElementById("folder_name_ex").value = json_settings.folder_name;
        document.getElementById("disp1_min_ex").value = json_settings.disp1_min;
        document.getElementById("disp1_max_ex").value = json_settings.disp1_max;
        document.getElementById("disp2_min_ex").value = json_settings.disp2_min;
        document.getElementById("disp2_max_ex").value = json_settings.disp2_max;
        document.getElementById("minutes_max_ex").value = json_settings.minutes_max;
        document.getElementById("seconds_max_ex").value = json_settings.seconds_max;
        document.getElementById("cycle_max_ex").value = json_settings.cycle_max;});

script.
    function save_ex_updated_sett(){
        socket.emit("sett_upd_ex_val",{
            file_name: document.getElementById("file_name_ex").value,
            folder_name: document.getElementById("folder_name_ex").value,
            disp1_min: document.getElementById("disp1_min_ex").value,
            disp1_max: document.getElementById("disp1_max_ex").value,
            disp2_min: document.getElementById("disp2_min_ex").value,
            disp2_max: document.getElementById("disp2_max_ex").value,
            minutes_max: document.getElementById("minutes_max_ex").value,
            seconds_max: document.getElementById("seconds_max_ex").value,
            cycle_max: document.getElementById("cycle_max_ex").value,
        })
    }

script.
    function line_zero_auto(){
        socket.emit('status', 0);
        socket.emit('status', 4);
        socket.emit('status', 8);
    }

script.
    function pull_request(){
        $('#modal_pull_req').modal('show');
    }

script.
    function pull_request_man(){
        $('#modal_pull_req_man').modal('show');
    }